.actions {
  width: 100%;
  padding: 0px 0px 15px 0px;
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.btnNext {
  width: 100%;
  max-width: 266px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background: var(--purpleAcai);
  align-items: center;
  color: white;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  box-shadow: unset;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
}

.btnPrev {
  border: unset;
  padding: 5px;
  background: var(--purpleAcai);
  border-radius: 5px;
  cursor: pointer;
}

.quantityControl {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--grayDefault);
  height: 40px;
  font-size: 0.9rem;
}

.quantityControl input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  max-width: 30px;
  border: transparent;
  font-size: 0.9rem;
}

.quantityControl button {
  width: 20px;
  background: transparent;
  border: transparent;
}

@media (min-width: 420px) {
  .actions {
    justify-content: space-between;
  }

  .container {
    flex-direction: row;
    justify-content: flex-end;
  }
}
