.actions {
  width: 100%;
  padding: 0px 0px 15px 0px;
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.btnNext {
  width: 100%;
  max-width: 266px;
  display: flex;
  justify-content: space-between;
  height: 40px;
  background: var(--purpleAcai);
  align-items: center;
  color: white;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  box-shadow: unset;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
}

.btnNext:hover{
  transition: all 0.3s ease-in-out;
  background: var(--purpleMed);
}

.btnPrev {
  border: unset;
  padding: 5px 15px;
  background: transparent;
  border: 1px solid var(--whiteGray);
  border-radius: 5px;
  cursor: pointer;
}

.btnPrev:hover{
  transition: all 0.3s ease-in-out;
  background: var(--whiteGray);
}

.quantityControl {
  display: flex;
  border-radius: 5px;
  border: 1px solid var(--whiteGray);
  height: 40px;
}

.quantityControl input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  width: 30px;
  border: transparent;
  font-size: 0.8rem;
  background: white;
  color: black;
  font-weight: 800;
}

.quantityControl button {
  width: 40px;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.quantityControl button:hover{
  transition: all 0.5s ease-in-out;
  background: var(--whiteGray);
  color:white;
}

@media (min-width: 420px) {
  .actions {
    justify-content: space-between;
  }

  .container {
    flex-direction: row;
    justify-content: flex-end;
  }
}
