.card {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 912px;
  width: 100%;
  padding: 15px 15px 0px 15px;
  border-radius: 3px;
  margin-top: 35px;
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.2);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.introView{
  text-align: center;
}

.wrapperImg{
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapperImg img{
  height: 250px;
  width: 100%;
  margin: 0 auto;
  box-shadow: -3px -4px 5px 0px rgba(0,0,0,0.1);
}


.avaliation {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 10px 0px 24px 0px;
}

.avaliationInfo {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
}

.avaliationValue {
  color: var(--blackDefault);
  font-weight: 700;
  padding-left: 5px;
}

.avaliationCount {
  color: var(--grayDefault);
}

.avaliation a {
  color: var(--orangeDefault);
  text-decoration: underline;
}

.description {
  font-size: 13px;
  line-height: 1.4rem;
  color: var(--grayDefault);
}

.selectionsForm {
  display: flex;
  flex-direction: column;
} 

.selectionsForm label {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--blackDefault);
  font-weight: 500;
  padding: 14px 0px;
  cursor: pointer;
}
.selectionsForm span {
  display: flex;
  gap: 10px;
}

@media(min-width:420px){
 .wrapperImg img{
  height: 350px;
  max-width: 450px;
 }

 .actions{
  justify-content: flex-end;
}
}

@media(min-width:768px){
  .content{
    flex-direction: row;
  }
  .introView{
    text-align: left;
  }
  .wrapperImg{
    align-items: flex-start;
  }
  .wrapperImg{
    margin: unset;
  }
}



