.loading{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupCircle{
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  position: absolute;
  display: flex;
  list-style: none;
  border-radius: 50%;
  background: var(--purpleAcai);
  padding: 7px;
}

.circle:nth-child(1){
  left: 8px;
  animation: scaleToOne .5s infinite;
}
.circle:nth-child(2){
  left: 5px;
  animation: translateX .5s infinite;
}
.circle:nth-child(3){
  left: 32px;
  animation: translateX .5s infinite;
}
.circle:nth-child(4){
  left: 56px;
  animation: scaleToZero .5s infinite;
}

@keyframes scaleToOne {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleToZero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes translateX {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(35px, 0);
  }
}