:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --purpleDefault: #791d8f;
  --whiteGray: #d4d5da;
  --black: #000000;
  --grayDefault: #858992;
  --purpleLight: #b54fce;
  --orangeDefault: #fe724c;
  --yellowDefault: #ffc529;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--whiteGray);
}

a {
  color: inherit;
  text-decoration: none;
}

.containerMain {
  max-width: var(--max-width);
}
